.version._404 /* version checker */
{
	color: #000012;
	background-color: #F6FC20;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 453px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 47px;
	margin-left: auto;
	margin-right: auto;
}

#u583
{
	z-index: 2;
	width: 51px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 20px;
}

#pamphletu670
{
	z-index: 60;
	width: 0.01px;
	height: 418px;
	position: relative;
	margin-right: -10000px;
	margin-top: 87px;
	left: 159px;
}

#u673
{
	position: absolute;
	width: 171px;
	top: 31px;
	left: 230px;
}

#u673popup
{
	z-index: 61;
}

#u674
{
	z-index: 62;
	width: 210px;
	height: 68px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	border-radius: 15px 15px 0px 15px ;
	margin-bottom: -9px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: -218px;
}

#u675-5
{
	z-index: 63;
	width: 183px;
	min-height: 25px;
	background-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 19px;
}

#u678
{
	z-index: 68;
	width: 169px;
	height: 71px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	border-radius: 0px 15px 15px 15px ;
	position: relative;
	margin-right: -10000px;
}

#u679-5
{
	z-index: 69;
	width: 121px;
	min-height: 9px;
	background-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 19px;
}

#u675-2,#u679-2
{
	font-size: 18px;
	line-height: 22px;
	color: #6B6B6B;
	font-weight: bold;
}

#u676
{
	z-index: 74;
	width: 200px;
	height: 73px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	border-radius: 15px 15px 15px 0px ;
	margin-bottom: -286px;
	position: relative;
	margin-right: -10000px;
	margin-top: 284px;
	left: 174px;
}

#u677-5
{
	z-index: 75;
	width: 175px;
	min-height: 36px;
	background-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 11px;
}

#u677-2
{
	color: #6B6B6B;
	font-weight: bold;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u677
{
	font-size: 18px;
	line-height: 22px;
}

#u675-3,#u679-3,#u677-3
{
	line-height: 20px;
	color: #999999;
}

#u682
{
	z-index: 80;
	width: 621px;
	position: relative;
	margin-right: -10000px;
}

#u685
{
	position: absolute;
	width: 211px;
	height: 407px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 10px;
	top: 12px;
}

.ie #u685
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u685:hover
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	width: 211px;
	height: 407px;
	min-height: 0px;
	margin: 0px;
}

.ie #u685:hover
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u685:active
{
	background-color: transparent;
	width: 211px;
	height: 407px;
	min-height: 0px;
	margin: 0px;
}

#u683
{
	position: absolute;
	width: 163px;
	height: 142px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 82px;
	top: 136px;
	left: 236px;
}

.ie #u685:active,.ie #u683
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u683:hover
{
	background-color: transparent;
	border-radius: 82px;
	width: 163px;
	height: 142px;
	min-height: 0px;
	margin: 0px;
}

.ie #u683:hover
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u683:active
{
	background-color: transparent;
	border-radius: 82px;
	width: 163px;
	height: 142px;
	min-height: 0px;
	margin: 0px;
}

#u684
{
	position: absolute;
	width: 188px;
	height: 414px;
	background-color: transparent;
	border-radius: 10px;
	left: 433px;
}

.ie #u683:active,.ie #u684
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u684:hover
{
	background-color: transparent;
	width: 188px;
	height: 414px;
	min-height: 0px;
	margin: 0px;
}

.ie #u684:hover
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u684:active
{
	background-color: transparent;
	width: 188px;
	height: 414px;
	min-height: 0px;
	margin: 0px;
}

.ie #u684:active
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#pmenuu587
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 33px;
	margin-left: 159px;
}

#menuu587
{
	z-index: 4;
	width: 445px;
	margin-left: 117px;
}

#u616
{
	width: 87px;
	min-height: 28px;
	margin-right: -10000px;
}

#u619
{
	width: 87px;
	padding-bottom: 11px;
}

#u619:hover
{
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u619:active
{
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u621-4
{
	width: 87px;
	min-height: 17px;
	margin-right: -10000px;
	top: 5px;
}

#u619:hover #u621-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 87px;
	margin: 0px -10000px 0px 0px;
}

#u619:active #u621-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 87px;
	margin: 0px -10000px 0px 0px;
}

#u623
{
	width: 87px;
	min-height: 28px;
	margin-right: -10000px;
	left: 89px;
}

#u624
{
	width: 87px;
	padding-bottom: 11px;
}

#u619.MuseMenuActive,#u624:hover
{
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u624:active
{
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u625-4
{
	width: 87px;
	min-height: 17px;
	margin-right: -10000px;
	top: 5px;
}

#u619.MuseMenuActive #u621-4,#u624:hover #u625-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 87px;
	margin: 0px -10000px 0px 0px;
}

#u624:active #u625-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 87px;
	margin: 0px -10000px 0px 0px;
}

#u630
{
	width: 87px;
	min-height: 28px;
	margin-right: -10000px;
	left: 178px;
}

#u633
{
	width: 87px;
	padding-bottom: 11px;
}

#u624.MuseMenuActive,#u633:hover
{
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u633:active
{
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u633.MuseMenuActive
{
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u636-4
{
	width: 87px;
	min-height: 17px;
	margin-right: -10000px;
	top: 5px;
}

#u624.MuseMenuActive #u625-4,#u633:hover #u636-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 87px;
	margin: 0px -10000px 0px 0px;
}

#u633:active #u636-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 87px;
	margin: 0px -10000px 0px 0px;
}

#u633.MuseMenuActive #u636-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 87px;
	margin: 0px -10000px 0px 0px;
}

#u588
{
	width: 88px;
	min-height: 28px;
	margin-right: -10000px;
	left: 267px;
}

#u589
{
	width: 88px;
	padding-bottom: 11px;
}

#u589:hover
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u589:active
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u592-4
{
	width: 74px;
	min-height: 17px;
	margin-right: -10000px;
	top: 5px;
}

#u589:hover #u592-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 74px;
	margin: 0px -10000px 0px 0px;
}

#u589:active #u592-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 74px;
	margin: 0px -10000px 0px 0px;
}

#u589.MuseMenuActive #u592-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 74px;
	margin: 0px -10000px 0px 0px;
}

#u591
{
	z-index: 29;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 7px;
	left: 74px;
}

#u589:hover #u591
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u589:active #u591
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u589.MuseMenuActive #u591
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u593
{
	width: 120px;
	top: 28px;
}

#u610
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u610:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u613-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u610:hover #u613-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u603
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u610.MuseMenuActive,#u603:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u605-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u610.MuseMenuActive #u613-4,#u603:hover #u605-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u594,#u609,#u602,#u595
{
	width: 120px;
}

#u596
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u603.MuseMenuActive,#u596:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u596.MuseMenuActive
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u597-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u603.MuseMenuActive #u605-4,#u596:hover #u597-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u596.MuseMenuActive #u597-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u935
{
	width: 88px;
	min-height: 28px;
	margin-right: -10000px;
	left: 357px;
}

#u936
{
	width: 88px;
	padding-bottom: 11px;
}

#u589.MuseMenuActive,#u936:hover
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u936:active
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u936.MuseMenuActive
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u938-4
{
	width: 88px;
	min-height: 17px;
	margin-right: -10000px;
	top: 5px;
}

#u936:hover #u938-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u936:active #u938-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u936.MuseMenuActive #u938-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u668
{
	z-index: 58;
	width: 631px;
	background-color: transparent;
	margin-top: 26px;
	position: relative;
}

#u842
{
	z-index: 56;
	width: 51px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 889px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

