.version._404 /* version checker */
{
	color: #00001A;
	background-color: #3176C0;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 569.542078170731px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
}

#page_position_content
{
	padding-bottom: 124px;
	width: 0.01px;
}

#pu1660
{
	width: 0.01px;
}

#u1660
{
	z-index: 2;
	width: 37px;
	margin-right: -10000px;
}

#u1698
{
	z-index: 37;
	width: 306px;
	height: 37px;
	margin-right: -10000px;
	left: 37px;
}

#u1703
{
	z-index: 35;
	width: 37px;
	margin-right: -10000px;
	left: 343px;
}

#u1663
{
	width: 74px;
	min-height: 34px;
	margin-right: -10000px;
}

#u1666
{
	width: 74px;
	padding-bottom: 17px;
}

#u1666:hover
{
	width: 74px;
	min-height: 0px;
	margin: 0px;
}

#u1666:active
{
	width: 74px;
	min-height: 0px;
	margin: 0px;
}

#u1667-4
{
	width: 74px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u1666:hover #u1667-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 74px;
	margin: 0px -10000px 0px 0px;
}

#u1666:active #u1667-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 74px;
	margin: 0px -10000px 0px 0px;
}

#u1670
{
	width: 74px;
	min-height: 34px;
	margin-right: -10000px;
	left: 76px;
}

#u1671
{
	width: 74px;
	padding-bottom: 17px;
}

#u1666.MuseMenuActive,#u1671:hover
{
	width: 74px;
	min-height: 0px;
	margin: 0px;
}

#u1671:active
{
	width: 74px;
	min-height: 0px;
	margin: 0px;
}

#u1673-4
{
	width: 74px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u1666.MuseMenuActive #u1667-4,#u1671:hover #u1673-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 74px;
	margin: 0px -10000px 0px 0px;
}

#u1671:active #u1673-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 74px;
	margin: 0px -10000px 0px 0px;
}

#u1677
{
	width: 74px;
	min-height: 34px;
	margin-right: -10000px;
	left: 152px;
}

#u1678
{
	width: 74px;
	padding-bottom: 17px;
}

#u1671.MuseMenuActive,#u1678:hover
{
	width: 74px;
	min-height: 0px;
	margin: 0px;
}

#u1678:active
{
	width: 74px;
	min-height: 0px;
	margin: 0px;
}

#u1678.MuseMenuActive
{
	width: 74px;
	min-height: 0px;
	margin: 0px;
}

#u1679-4
{
	width: 74px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u1671.MuseMenuActive #u1673-4,#u1678:hover #u1679-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 74px;
	margin: 0px -10000px 0px 0px;
}

#u1678:active #u1679-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 74px;
	margin: 0px -10000px 0px 0px;
}

#u1678.MuseMenuActive #u1679-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 74px;
	margin: 0px -10000px 0px 0px;
}

#u1684
{
	width: 75px;
	min-height: 34px;
	margin-right: -10000px;
	left: 228px;
}

#u1685
{
	width: 75px;
	padding-bottom: 17px;
}

#u1685:hover
{
	width: 75px;
	min-height: 0px;
	margin: 0px;
}

#u1685:active
{
	width: 75px;
	min-height: 0px;
	margin: 0px;
}

#u1687-4
{
	width: 75px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u1685:hover #u1687-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 75px;
	margin: 0px -10000px 0px 0px;
}

#u1685:active #u1687-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 75px;
	margin: 0px -10000px 0px 0px;
}

#u1691
{
	width: 75px;
	min-height: 34px;
	margin-right: -10000px;
	left: 305px;
}

#u1692
{
	width: 75px;
	padding-bottom: 17px;
}

#u1685.MuseMenuActive,#u1692:hover
{
	width: 75px;
	min-height: 0px;
	margin: 0px;
}

#u1692:active
{
	width: 75px;
	min-height: 0px;
	margin: 0px;
}

#u1692.MuseMenuActive
{
	width: 75px;
	min-height: 0px;
	margin: 0px;
}

#u1694-4
{
	width: 75px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u1685.MuseMenuActive #u1687-4,#u1692:hover #u1694-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 75px;
	margin: 0px -10000px 0px 0px;
}

#u1692:active #u1694-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 75px;
	margin: 0px -10000px 0px 0px;
}

#u1692.MuseMenuActive #u1694-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 75px;
	margin: 0px -10000px 0px 0px;
}

#menuu1662,#menuu1662-bw
{
	z-index: 4;
	min-height: 34px;
}

#pu1757
{
	width: 0.01px;
	margin-top: 123px;
}

#u1757
{
	z-index: 38;
	width: 380px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1760
{
	z-index: 40;
	width: 109px;
	height: 252px;
	position: relative;
	margin-right: -10000px;
}

#u1759
{
	z-index: 41;
	width: 115px;
	height: 252px;
	position: relative;
	margin-right: -10000px;
	left: 265px;
}

.ie #u1760,.ie #u1759
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

