.version._404 /* version checker */
{
	color: #000018;
	background-color: #BACB45;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 396px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 104px;
	margin-left: auto;
	margin-right: auto;
}

#u631
{
	z-index: 2;
	width: 82px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 20px;
}

#pamphletu689
{
	z-index: 54;
	width: 0.01px;
	height: 418px;
	position: relative;
	margin-right: -10000px;
	margin-top: 134px;
	left: 159px;
}

#u690
{
	position: absolute;
	width: 171px;
	top: 31px;
	left: 230px;
}

#u690popup
{
	z-index: 55;
}

#u693
{
	z-index: 56;
	width: 210px;
	height: 68px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	border-radius: 15px 15px 0px 15px ;
	margin-bottom: -9px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: -218px;
}

#u694-5
{
	z-index: 57;
	width: 183px;
	min-height: 25px;
	background-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 19px;
}

#u695
{
	z-index: 62;
	width: 169px;
	height: 71px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	border-radius: 0px 15px 15px 15px ;
	position: relative;
	margin-right: -10000px;
}

#u696-5
{
	z-index: 63;
	width: 121px;
	min-height: 9px;
	background-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 19px;
}

#u694-2,#u696-2
{
	font-size: 18px;
	line-height: 22px;
	color: #6B6B6B;
	font-weight: bold;
}

#u691
{
	z-index: 68;
	width: 200px;
	height: 73px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	border-radius: 15px 15px 15px 0px ;
	margin-bottom: -286px;
	position: relative;
	margin-right: -10000px;
	margin-top: 284px;
	left: 174px;
}

#u692-5
{
	z-index: 69;
	width: 175px;
	min-height: 36px;
	background-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 11px;
}

#u692-2
{
	color: #6B6B6B;
	font-weight: bold;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u692
{
	font-size: 18px;
	line-height: 22px;
}

#u694-3,#u696-3,#u692-3
{
	line-height: 20px;
	color: #999999;
}

#u703
{
	z-index: 74;
	width: 621px;
	position: relative;
	margin-right: -10000px;
}

#u705
{
	position: absolute;
	width: 211px;
	height: 407px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 10px;
	top: 12px;
}

.ie #u705
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u705:hover
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	width: 211px;
	height: 407px;
	min-height: 0px;
	margin: 0px;
}

.ie #u705:hover
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u705:active
{
	background-color: transparent;
	width: 211px;
	height: 407px;
	min-height: 0px;
	margin: 0px;
}

#u704
{
	position: absolute;
	width: 163px;
	height: 142px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 82px;
	top: 136px;
	left: 236px;
}

.ie #u705:active,.ie #u704
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u704:hover
{
	background-color: transparent;
	border-radius: 82px;
	width: 163px;
	height: 142px;
	min-height: 0px;
	margin: 0px;
}

.ie #u704:hover
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u704:active
{
	background-color: transparent;
	border-radius: 82px;
	width: 163px;
	height: 142px;
	min-height: 0px;
	margin: 0px;
}

#u706
{
	position: absolute;
	width: 188px;
	height: 414px;
	background-color: transparent;
	border-radius: 10px;
	left: 433px;
}

.ie #u704:active,.ie #u706
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u706:hover
{
	background-color: transparent;
	width: 188px;
	height: 414px;
	min-height: 0px;
	margin: 0px;
}

.ie #u706:hover
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u706:active
{
	background-color: transparent;
	width: 188px;
	height: 414px;
	min-height: 0px;
	margin: 0px;
}

.ie #u706:active
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#pmenuu578
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 84px;
	margin-left: 159px;
}

#menuu578
{
	z-index: 6;
	width: 445px;
	margin-left: 114px;
}

#u586
{
	width: 109px;
	min-height: 28px;
	margin-right: -10000px;
}

#u589
{
	width: 109px;
	padding-bottom: 11px;
}

#u589:hover
{
	width: 109px;
	min-height: 0px;
	margin: 0px;
}

#u589:active
{
	width: 109px;
	min-height: 0px;
	margin: 0px;
}

#u589.MuseMenuActive
{
	width: 109px;
	min-height: 0px;
	margin: 0px;
}

#u592-4
{
	width: 109px;
	min-height: 17px;
	margin-right: -10000px;
	top: 5px;
}

#u589:hover #u592-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 109px;
	margin: 0px -10000px 0px 0px;
}

#u589:active #u592-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 109px;
	margin: 0px -10000px 0px 0px;
}

#u589.MuseMenuActive #u592-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 109px;
	margin: 0px -10000px 0px 0px;
}

#u579
{
	width: 110px;
	min-height: 28px;
	margin-right: -10000px;
	left: 111px;
}

#u580
{
	width: 110px;
	padding-bottom: 11px;
}

#u580:hover
{
	width: 110px;
	min-height: 0px;
	margin: 0px;
}

#u580:active
{
	width: 110px;
	min-height: 0px;
	margin: 0px;
}

#u581-4
{
	width: 110px;
	min-height: 17px;
	margin-right: -10000px;
	top: 5px;
}

#u580:hover #u581-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u580:active #u581-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u593
{
	width: 110px;
	min-height: 28px;
	margin-right: -10000px;
	left: 223px;
}

#u596
{
	width: 110px;
	padding-bottom: 11px;
}

#u580.MuseMenuActive,#u596:hover
{
	width: 110px;
	min-height: 0px;
	margin: 0px;
}

#u596:active
{
	width: 110px;
	min-height: 0px;
	margin: 0px;
}

#u597-4
{
	width: 110px;
	min-height: 17px;
	margin-right: -10000px;
	top: 5px;
}

#u580.MuseMenuActive #u581-4,#u596:hover #u597-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u596:active #u597-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u596.MuseMenuActive #u597-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u600
{
	width: 110px;
	min-height: 28px;
	margin-right: -10000px;
	left: 335px;
}

#u624
{
	width: 110px;
	padding-bottom: 11px;
}

#u596.MuseMenuActive,#u624:hover
{
	width: 110px;
	min-height: 0px;
	margin: 0px;
}

#u624:active
{
	width: 110px;
	min-height: 0px;
	margin: 0px;
}

#u624.MuseMenuActive
{
	width: 110px;
	min-height: 0px;
	margin: 0px;
}

#u625-4
{
	width: 96px;
	min-height: 17px;
	margin-right: -10000px;
	top: 5px;
}

#u624:hover #u625-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 96px;
	margin: 0px -10000px 0px 0px;
}

#u624:active #u625-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 96px;
	margin: 0px -10000px 0px 0px;
}

#u624.MuseMenuActive #u625-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 96px;
	margin: 0px -10000px 0px 0px;
}

#u627
{
	z-index: 31;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 7px;
	left: 96px;
}

#u624:hover #u627
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u624:active #u627
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u624.MuseMenuActive #u627
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u601
{
	width: 120px;
	top: 28px;
}

#u611
{
	width: 118px;
	padding-bottom: 19px;
	margin-right: -10000px;
}

#u611:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u614-4
{
	width: 110px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 9px;
	left: 2px;
}

#u611:hover #u614-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 0px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u618
{
	width: 118px;
	padding-bottom: 19px;
	margin-right: -10000px;
}

#u611.MuseMenuActive,#u618:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u621-4
{
	width: 110px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 9px;
	left: 2px;
}

#u611.MuseMenuActive #u614-4,#u618:hover #u621-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 0px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u602,#u610,#u617,#u603
{
	width: 120px;
}

#u606
{
	width: 118px;
	padding-bottom: 19px;
	margin-right: -10000px;
}

#u618.MuseMenuActive,#u606:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u606.MuseMenuActive
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u609-4
{
	width: 110px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 9px;
	left: 2px;
}

#u618.MuseMenuActive #u621-4,#u606:hover #u609-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 0px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u606.MuseMenuActive #u609-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 0px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u687
{
	z-index: 52;
	width: 631px;
	background-color: transparent;
	margin-top: 22px;
	position: relative;
}

#u633
{
	z-index: 4;
	width: 85px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 855px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

