.version.seek /* version checker */
{
	color: #000011;
	background-color: #CA1AB9;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 570px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#page_position_content,#pu1572
{
	width: 0.01px;
}

#u1572
{
	z-index: 2;
	width: 37px;
	margin-right: -10000px;
}

#u1650
{
	z-index: 37;
	width: 306px;
	height: 37px;
	margin-right: -10000px;
	left: 37px;
}

#u1647
{
	z-index: 35;
	width: 37px;
	margin-right: -10000px;
	left: 343px;
}

#u1619
{
	width: 74px;
	min-height: 34px;
	margin-right: -10000px;
}

#u1620
{
	width: 74px;
	padding-bottom: 17px;
}

#u1620:hover
{
	width: 74px;
	min-height: 0px;
	margin: 0px;
}

#u1620:active
{
	width: 74px;
	min-height: 0px;
	margin: 0px;
}

#u1623-4
{
	width: 74px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u1620:hover #u1623-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 74px;
	margin: 0px -10000px 0px 0px;
}

#u1620:active #u1623-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 74px;
	margin: 0px -10000px 0px 0px;
}

#u1612
{
	width: 74px;
	min-height: 34px;
	margin-right: -10000px;
	left: 76px;
}

#u1615
{
	width: 74px;
	padding-bottom: 17px;
}

#u1620.MuseMenuActive,#u1615:hover
{
	width: 74px;
	min-height: 0px;
	margin: 0px;
}

#u1615:active
{
	width: 74px;
	min-height: 0px;
	margin: 0px;
}

#u1618-4
{
	width: 74px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u1620.MuseMenuActive #u1623-4,#u1615:hover #u1618-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 74px;
	margin: 0px -10000px 0px 0px;
}

#u1615:active #u1618-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 74px;
	margin: 0px -10000px 0px 0px;
}

#u1626
{
	width: 74px;
	min-height: 34px;
	margin-right: -10000px;
	left: 152px;
}

#u1627
{
	width: 74px;
	padding-bottom: 17px;
}

#u1615.MuseMenuActive,#u1627:hover
{
	width: 74px;
	min-height: 0px;
	margin: 0px;
}

#u1627:active
{
	width: 74px;
	min-height: 0px;
	margin: 0px;
}

#u1627.MuseMenuActive
{
	width: 74px;
	min-height: 0px;
	margin: 0px;
}

#u1629-4
{
	width: 74px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u1615.MuseMenuActive #u1618-4,#u1627:hover #u1629-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 74px;
	margin: 0px -10000px 0px 0px;
}

#u1627:active #u1629-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 74px;
	margin: 0px -10000px 0px 0px;
}

#u1627.MuseMenuActive #u1629-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 74px;
	margin: 0px -10000px 0px 0px;
}

#u1633
{
	width: 75px;
	min-height: 34px;
	margin-right: -10000px;
	left: 228px;
}

#u1634
{
	width: 75px;
	padding-bottom: 17px;
}

#u1634:hover
{
	width: 75px;
	min-height: 0px;
	margin: 0px;
}

#u1634:active
{
	width: 75px;
	min-height: 0px;
	margin: 0px;
}

#u1635-4
{
	width: 75px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u1634:hover #u1635-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 75px;
	margin: 0px -10000px 0px 0px;
}

#u1634:active #u1635-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 75px;
	margin: 0px -10000px 0px 0px;
}

#u1640
{
	width: 75px;
	min-height: 34px;
	margin-right: -10000px;
	left: 305px;
}

#u1641
{
	width: 75px;
	padding-bottom: 17px;
}

#u1634.MuseMenuActive,#u1641:hover
{
	width: 75px;
	min-height: 0px;
	margin: 0px;
}

#u1641:active
{
	width: 75px;
	min-height: 0px;
	margin: 0px;
}

#u1641.MuseMenuActive
{
	width: 75px;
	min-height: 0px;
	margin: 0px;
}

#u1643-4
{
	width: 75px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u1634.MuseMenuActive #u1635-4,#u1641:hover #u1643-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 75px;
	margin: 0px -10000px 0px 0px;
}

#u1641:active #u1643-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 75px;
	margin: 0px -10000px 0px 0px;
}

#u1641.MuseMenuActive #u1643-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 75px;
	margin: 0px -10000px 0px 0px;
}

#menuu1611,#menuu1611-bw
{
	z-index: 4;
	min-height: 34px;
}

#u1651
{
	z-index: 38;
	min-height: 47px;
}

#u1651-bw
{
	z-index: 38;
	min-height: 47px;
	margin-top: 10px;
}

#u1778
{
	z-index: 40;
	min-height: 454px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u1778-bw
{
	z-index: 40;
	min-height: 454px;
	margin-top: 2px;
}

#u1655
{
	z-index: 39;
	min-height: 71px;
}

#u1655-bw
{
	z-index: 39;
	min-height: 71px;
	margin-top: 1px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

