.version.exhibit_2 /* version checker */
{
	color: #000004;
	background-color: #05FA6F;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 920px;
	min-height: 449.61042739191055px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	padding: 20px 20px 30.389572608089452px;
}

#pu138
{
	width: 0.01px;
}

#u138
{
	z-index: 4;
	width: 98px;
	margin-right: -10000px;
}

#pu127
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 150px;
}

#u127
{
	z-index: 2;
	width: 481px;
	min-height: 55px;
	margin-left: 81px;
}

#pmenuu147
{
	width: 0.01px;
	margin-top: 8px;
}

#menuu147
{
	z-index: 8;
	width: 445px;
	margin-right: -10000px;
}

#u155
{
	width: 87px;
	min-height: 28px;
	margin-right: -10000px;
}

#u158
{
	width: 87px;
	padding-bottom: 11px;
}

#u158:hover
{
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u158:active
{
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u159-4
{
	width: 87px;
	min-height: 17px;
	margin-right: -10000px;
	top: 5px;
}

#u158:hover #u159-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 87px;
	margin: 0px -10000px 0px 0px;
}

#u158:active #u159-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 87px;
	margin: 0px -10000px 0px 0px;
}

#u148
{
	width: 87px;
	min-height: 28px;
	margin-right: -10000px;
	left: 89px;
}

#u149
{
	width: 87px;
	padding-bottom: 11px;
}

#u158.MuseMenuActive,#u149:hover
{
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u149:active
{
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u150-4
{
	width: 87px;
	min-height: 17px;
	margin-right: -10000px;
	top: 5px;
}

#u158.MuseMenuActive #u159-4,#u149:hover #u150-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 87px;
	margin: 0px -10000px 0px 0px;
}

#u149:active #u150-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 87px;
	margin: 0px -10000px 0px 0px;
}

#u163
{
	width: 87px;
	min-height: 28px;
	margin-right: -10000px;
	left: 178px;
}

#u166
{
	width: 87px;
	padding-bottom: 11px;
}

#u149.MuseMenuActive,#u166:hover
{
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u166:active
{
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u166.MuseMenuActive
{
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u169-4
{
	width: 87px;
	min-height: 17px;
	margin-right: -10000px;
	top: 5px;
}

#u149.MuseMenuActive #u150-4,#u166:hover #u169-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 87px;
	margin: 0px -10000px 0px 0px;
}

#u166:active #u169-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 87px;
	margin: 0px -10000px 0px 0px;
}

#u166.MuseMenuActive #u169-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 87px;
	margin: 0px -10000px 0px 0px;
}

#u170
{
	width: 88px;
	min-height: 28px;
	margin-right: -10000px;
	left: 267px;
}

#u171
{
	width: 88px;
	padding-bottom: 11px;
}

#u171:hover
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u171:active
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u174-4
{
	width: 74px;
	min-height: 17px;
	margin-right: -10000px;
	top: 5px;
}

#u171:hover #u174-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 74px;
	margin: 0px -10000px 0px 0px;
}

#u171:active #u174-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 74px;
	margin: 0px -10000px 0px 0px;
}

#u171.MuseMenuActive #u174-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 74px;
	margin: 0px -10000px 0px 0px;
}

#u172
{
	z-index: 33;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 7px;
	left: 74px;
}

#u171:hover #u172
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u171:active #u172
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u171.MuseMenuActive #u172
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u175
{
	width: 120px;
	top: 28px;
}

#u547
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u547:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u549-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u547:hover #u549-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u559
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u547.MuseMenuActive,#u559:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u562-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u547.MuseMenuActive #u549-4,#u559:hover #u562-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u176,#u546,#u558,#u565
{
	width: 120px;
}

#u566
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u559.MuseMenuActive,#u566:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u566.MuseMenuActive
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u567-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u559.MuseMenuActive #u562-4,#u566:hover #u567-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u566.MuseMenuActive #u567-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u907
{
	width: 88px;
	min-height: 28px;
	margin-right: -10000px;
	left: 357px;
}

#u908
{
	width: 88px;
	padding-bottom: 11px;
}

#u171.MuseMenuActive,#u908:hover
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u908:active
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u908.MuseMenuActive
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u909-4
{
	width: 88px;
	min-height: 17px;
	margin-right: -10000px;
	top: 5px;
}

#u908:hover #u909-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u908:active #u909-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u908.MuseMenuActive #u909-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#menuu704
{
	z-index: 60;
	width: 108px;
	margin-right: -10000px;
	left: 511px;
}

#u705
{
	width: 108px;
	min-height: 28px;
	margin-right: -10000px;
}

#u706
{
	width: 106px;
	padding-bottom: 9px;
}

#u706:hover
{
	width: 106px;
	min-height: 0px;
	margin: 0px;
}

#u706:active
{
	width: 106px;
	min-height: 0px;
	margin: 0px;
}

#u706.MuseMenuActive
{
	width: 106px;
	min-height: 0px;
	margin: 0px;
}

#u708-4
{
	width: 106px;
	min-height: 17px;
	margin-right: -10000px;
	top: 4px;
}

#u706:hover #u708-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 106px;
	margin: 0px -10000px 0px 0px;
}

#u706:active #u708-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 106px;
	margin: 0px -10000px 0px 0px;
}

#u706.MuseMenuActive #u708-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 106px;
	margin: 0px -10000px 0px 0px;
}

#u144
{
	z-index: 6;
	width: 98px;
	margin-right: -10000px;
	left: 822px;
}

#pu774
{
	width: 0.01px;
	margin-left: 18px;
	margin-top: 39px;
}

#u774
{
	z-index: 68;
	width: 200px;
	min-height: 203px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u778
{
	z-index: 69;
	width: 263px;
	min-height: 100px;
	border-width: 4px;
	border-style: solid;
	border-color: #4196F1;
	background-color: #FE7500;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 300px;
}

#u776
{
	z-index: 67;
	width: 200px;
	min-height: 203px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 684px;
}

#u131
{
	z-index: 3;
	width: 577px;
	min-height: 65px;
	margin-left: 187px;
	margin-top: 113px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

