.version._404 /* version checker */
{
	color: #000001;
	background-color: #1E66C0;
}

@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 768px;
	min-height: 720.7500049999999px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 303.2499950000001px;
}

#pu1328
{
	width: 0.01px;
}

#u1328
{
	z-index: 2;
	width: 98px;
	margin-right: -10000px;
}

#menuu1330
{
	z-index: 13;
	width: 446px;
	margin-right: -10000px;
	margin-top: 35px;
	left: 104px;
}

#u1359
{
	width: 87px;
	min-height: 34px;
	margin-right: -10000px;
}

#u1362
{
	width: 87px;
	padding-bottom: 17px;
}

#u1362:hover
{
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u1362:active
{
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u1365-4
{
	width: 87px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u1362:hover #u1365-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 87px;
	margin: 0px -10000px 0px 0px;
}

#u1362:active #u1365-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 87px;
	margin: 0px -10000px 0px 0px;
}

#u1338
{
	width: 87px;
	min-height: 34px;
	margin-right: -10000px;
	left: 89px;
}

#u1339
{
	width: 87px;
	padding-bottom: 17px;
}

#u1362.MuseMenuActive,#u1339:hover
{
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u1339:active
{
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u1339.MuseMenuActive
{
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u1340-4
{
	width: 87px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u1362.MuseMenuActive #u1365-4,#u1339:hover #u1340-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 87px;
	margin: 0px -10000px 0px 0px;
}

#u1339:active #u1340-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 87px;
	margin: 0px -10000px 0px 0px;
}

#u1339.MuseMenuActive #u1340-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 87px;
	margin: 0px -10000px 0px 0px;
}

#u1352
{
	width: 88px;
	min-height: 34px;
	margin-right: -10000px;
	left: 178px;
}

#u1353
{
	width: 88px;
	padding-bottom: 17px;
}

#u1353:hover
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u1353:active
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u1355-4
{
	width: 88px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u1353:hover #u1355-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u1353:active #u1355-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u1331
{
	width: 88px;
	min-height: 34px;
	margin-right: -10000px;
	left: 268px;
}

#u1334
{
	width: 88px;
	padding-bottom: 17px;
}

#u1353.MuseMenuActive,#u1334:hover
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u1334:active
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u1335-4
{
	width: 88px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u1353.MuseMenuActive #u1355-4,#u1334:hover #u1335-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u1334:active #u1335-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u1345
{
	width: 88px;
	min-height: 34px;
	margin-right: -10000px;
	left: 358px;
}

#u1346
{
	width: 88px;
	padding-bottom: 17px;
}

#u1334.MuseMenuActive,#u1346:hover
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u1346:active
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u1346.MuseMenuActive
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u1347-4
{
	width: 88px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u1334.MuseMenuActive #u1335-4,#u1346:hover #u1347-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u1346:active #u1347-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u1346.MuseMenuActive #u1347-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#menuu1320
{
	z-index: 6;
	width: 108px;
	margin-right: -10000px;
	margin-top: 35px;
	left: 556px;
}

#u1321
{
	width: 108px;
	min-height: 34px;
	margin-right: -10000px;
}

#u1322
{
	width: 106px;
	padding-bottom: 15px;
}

#u1322:hover
{
	width: 106px;
	min-height: 0px;
	margin: 0px;
}

#u1322:active
{
	width: 106px;
	min-height: 0px;
	margin: 0px;
}

#u1322.MuseMenuActive
{
	width: 106px;
	min-height: 0px;
	margin: 0px;
}

#u1323-4
{
	width: 106px;
	min-height: 17px;
	margin-right: -10000px;
	top: 7px;
}

#u1322:hover #u1323-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 106px;
	margin: 0px -10000px 0px 0px;
}

#u1322:active #u1323-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 106px;
	margin: 0px -10000px 0px 0px;
}

#u1322.MuseMenuActive #u1323-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 106px;
	margin: 0px -10000px 0px 0px;
}

#u1318
{
	z-index: 4;
	width: 98px;
	margin-right: -10000px;
	left: 670px;
}

#pamphletu1416
{
	z-index: 46;
	width: 0.01px;
	height: 418px;
	margin-left: 72px;
	margin-top: 205px;
	position: relative;
}

#u1427
{
	position: absolute;
	width: 212px;
	top: 43px;
	left: 4px;
}

#u1427popup
{
	z-index: 47;
}

#u1430
{
	z-index: 48;
	width: 210px;
	height: 68px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	border-radius: 15px 15px 0px 15px ;
	position: relative;
	margin-right: -10000px;
}

#u1431-5
{
	z-index: 49;
	width: 183px;
	min-height: 25px;
	background-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 19px;
}

#u1432
{
	z-index: 54;
	width: 169px;
	height: 71px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	border-radius: 0px 15px 15px 15px ;
	position: relative;
	margin-right: -10000px;
	margin-top: -12px;
	left: 218px;
}

#u1433-5
{
	z-index: 55;
	width: 121px;
	min-height: 9px;
	background-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 19px;
}

#u1431-2,#u1433-2
{
	font-size: 18px;
	line-height: 22px;
	color: #6B6B6B;
	font-weight: bold;
}

#u1428
{
	z-index: 60;
	width: 200px;
	height: 73px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	border-radius: 15px 15px 15px 0px ;
	margin-bottom: -277px;
	position: relative;
	margin-right: -10000px;
	margin-top: 272px;
	left: 392px;
}

#u1429-5
{
	z-index: 61;
	width: 175px;
	min-height: 36px;
	background-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 11px;
}

#u1429-2
{
	color: #6B6B6B;
	font-weight: bold;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u1429
{
	font-size: 18px;
	line-height: 22px;
}

#u1431-3,#u1433-3,#u1429-3
{
	line-height: 20px;
	color: #999999;
}

#u1419
{
	z-index: 66;
	width: 613px;
	position: relative;
	margin-right: -10000px;
}

#u1421
{
	position: absolute;
	width: 203px;
	height: 407px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 10px;
	top: 12px;
}

.ie #u1421
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1421:hover
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	width: 203px;
	height: 407px;
	min-height: 0px;
	margin: 0px;
}

.ie #u1421:hover
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1421:active
{
	background-color: transparent;
	width: 203px;
	height: 407px;
	min-height: 0px;
	margin: 0px;
}

#u1420
{
	position: absolute;
	width: 163px;
	height: 142px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 82px;
	top: 136px;
	left: 228px;
}

.ie #u1421:active,.ie #u1420
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1420:hover
{
	background-color: transparent;
	border-radius: 82px;
	width: 163px;
	height: 142px;
	min-height: 0px;
	margin: 0px;
}

.ie #u1420:hover
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1420:active
{
	background-color: transparent;
	border-radius: 82px;
	width: 163px;
	height: 142px;
	min-height: 0px;
	margin: 0px;
}

#u1422
{
	position: absolute;
	width: 188px;
	height: 414px;
	background-color: transparent;
	border-radius: 10px;
	left: 425px;
}

.ie #u1420:active,.ie #u1422
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1422:hover
{
	background-color: transparent;
	width: 188px;
	height: 414px;
	min-height: 0px;
	margin: 0px;
}

.ie #u1422:hover
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1422:active
{
	background-color: transparent;
	width: 188px;
	height: 414px;
	min-height: 0px;
	margin: 0px;
}

.ie #u1422:active
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u1414
{
	z-index: 44;
	width: 623px;
	background-color: transparent;
	margin-left: 72px;
	top: -416px;
	margin-bottom: -413px;
	position: relative;
}

body
{
	position: relative;
	min-width: 768px;
}

#page .verticalspacer
{
	clear: both;
}

