.version.terms___conditions /* version checker */
{
	color: #0000E8;
	background-color: #C12E07;
}

@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 768px;
	min-height: 1024px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#page_position_content
{
	padding-bottom: 128px;
	width: 0.01px;
}

#pu1190
{
	width: 0.01px;
}

#u1190
{
	z-index: 2;
	width: 98px;
	margin-right: -10000px;
}

#menuu1272
{
	z-index: 13;
	width: 446px;
	margin-right: -10000px;
	margin-top: 35px;
	left: 104px;
}

#u1280
{
	width: 87px;
	min-height: 34px;
	margin-right: -10000px;
}

#u1281
{
	width: 87px;
	padding-bottom: 17px;
}

#u1281:hover
{
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u1281:active
{
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u1284-4
{
	width: 87px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u1281:hover #u1284-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 87px;
	margin: 0px -10000px 0px 0px;
}

#u1281:active #u1284-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 87px;
	margin: 0px -10000px 0px 0px;
}

#u1273
{
	width: 87px;
	min-height: 34px;
	margin-right: -10000px;
	left: 89px;
}

#u1276
{
	width: 87px;
	padding-bottom: 17px;
}

#u1281.MuseMenuActive,#u1276:hover
{
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u1276:active
{
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u1276.MuseMenuActive
{
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u1279-4
{
	width: 87px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u1281.MuseMenuActive #u1284-4,#u1276:hover #u1279-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 87px;
	margin: 0px -10000px 0px 0px;
}

#u1276:active #u1279-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 87px;
	margin: 0px -10000px 0px 0px;
}

#u1276.MuseMenuActive #u1279-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 87px;
	margin: 0px -10000px 0px 0px;
}

#u1287
{
	width: 88px;
	min-height: 34px;
	margin-right: -10000px;
	left: 178px;
}

#u1288
{
	width: 88px;
	padding-bottom: 17px;
}

#u1288:hover
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u1288:active
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u1289-4
{
	width: 88px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u1288:hover #u1289-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u1288:active #u1289-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u1294
{
	width: 88px;
	min-height: 34px;
	margin-right: -10000px;
	left: 268px;
}

#u1295
{
	width: 88px;
	padding-bottom: 17px;
}

#u1288.MuseMenuActive,#u1295:hover
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u1295:active
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u1297-4
{
	width: 88px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u1288.MuseMenuActive #u1289-4,#u1295:hover #u1297-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u1295:active #u1297-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u1301
{
	width: 88px;
	min-height: 34px;
	margin-right: -10000px;
	left: 358px;
}

#u1304
{
	width: 88px;
	padding-bottom: 17px;
}

#u1295.MuseMenuActive,#u1304:hover
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u1304:active
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u1304.MuseMenuActive
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u1305-4
{
	width: 88px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u1295.MuseMenuActive #u1297-4,#u1304:hover #u1305-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u1304:active #u1305-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u1304.MuseMenuActive #u1305-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#menuu1264
{
	z-index: 6;
	width: 108px;
	margin-right: -10000px;
	margin-top: 35px;
	left: 556px;
}

#u1265
{
	width: 108px;
	min-height: 34px;
	margin-right: -10000px;
}

#u1268
{
	width: 106px;
	padding-bottom: 15px;
}

#u1268:hover
{
	width: 106px;
	min-height: 0px;
	margin: 0px;
}

#u1268:active
{
	width: 106px;
	min-height: 0px;
	margin: 0px;
}

#u1268.MuseMenuActive
{
	width: 106px;
	min-height: 0px;
	margin: 0px;
}

#u1271-4
{
	width: 106px;
	min-height: 17px;
	margin-right: -10000px;
	top: 7px;
}

#u1268:hover #u1271-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 106px;
	margin: 0px -10000px 0px 0px;
}

#u1268:active #u1271-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 106px;
	margin: 0px -10000px 0px 0px;
}

#u1268.MuseMenuActive #u1271-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 106px;
	margin: 0px -10000px 0px 0px;
}

#u1193
{
	z-index: 4;
	width: 98px;
	margin-right: -10000px;
	left: 670px;
}

#u1308
{
	z-index: 44;
	min-height: 93px;
}

#u1308-bw
{
	z-index: 44;
	min-height: 93px;
	margin-top: 1px;
}

#pu1310
{
	width: 0.01px;
	margin-top: -4px;
}

#u1310
{
	z-index: 45;
	min-height: 119px;
}

#u1310-bw
{
	z-index: 45;
	min-height: 119px;
	margin-top: 708px;
}

#u1465-323
{
	z-index: 46;
	width: 738px;
	min-height: 5631px;
	background-color: #FE7500;
	color: #FFFFFF;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 14px;
}

body
{
	position: relative;
	min-width: 768px;
}

#page .verticalspacer
{
	clear: both;
}

