.version.contribute /* version checker */
{
	color: #000007;
	background-color: #BABA56;
}

@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 768px;
	min-height: 508px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 516px;
}

#u1328
{
	z-index: 2;
	width: 98px;
	margin-right: -10000px;
}

#ppmenuu1330
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 35px;
	margin-left: 104px;
}

#pmenuu1330
{
	width: 0.01px;
}

#menuu1330
{
	z-index: 13;
	width: 446px;
	margin-right: -10000px;
}

#u1359
{
	width: 87px;
	min-height: 34px;
	margin-right: -10000px;
}

#u1362
{
	width: 87px;
	padding-bottom: 17px;
}

#u1362:hover
{
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u1362:active
{
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u1365-4
{
	width: 87px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u1362:hover #u1365-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 87px;
	margin: 0px -10000px 0px 0px;
}

#u1362:active #u1365-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 87px;
	margin: 0px -10000px 0px 0px;
}

#u1338
{
	width: 87px;
	min-height: 34px;
	margin-right: -10000px;
	left: 89px;
}

#u1339
{
	width: 87px;
	padding-bottom: 17px;
}

#u1362.MuseMenuActive,#u1339:hover
{
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u1339:active
{
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u1339.MuseMenuActive
{
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u1340-4
{
	width: 87px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u1362.MuseMenuActive #u1365-4,#u1339:hover #u1340-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 87px;
	margin: 0px -10000px 0px 0px;
}

#u1339:active #u1340-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 87px;
	margin: 0px -10000px 0px 0px;
}

#u1339.MuseMenuActive #u1340-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 87px;
	margin: 0px -10000px 0px 0px;
}

#u1352
{
	width: 88px;
	min-height: 34px;
	margin-right: -10000px;
	left: 178px;
}

#u1353
{
	width: 88px;
	padding-bottom: 17px;
}

#u1353:hover
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u1353:active
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u1355-4
{
	width: 88px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u1353:hover #u1355-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u1353:active #u1355-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u1331
{
	width: 88px;
	min-height: 34px;
	margin-right: -10000px;
	left: 268px;
}

#u1334
{
	width: 88px;
	padding-bottom: 17px;
}

#u1353.MuseMenuActive,#u1334:hover
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u1334:active
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u1335-4
{
	width: 88px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u1353.MuseMenuActive #u1355-4,#u1334:hover #u1335-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u1334:active #u1335-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u1345
{
	width: 88px;
	min-height: 34px;
	margin-right: -10000px;
	left: 358px;
}

#u1346
{
	width: 88px;
	padding-bottom: 17px;
}

#u1334.MuseMenuActive,#u1346:hover
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u1346:active
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u1346.MuseMenuActive
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u1347-4
{
	width: 88px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u1334.MuseMenuActive #u1335-4,#u1346:hover #u1347-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u1346:active #u1347-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u1346.MuseMenuActive #u1347-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#menuu1320
{
	z-index: 6;
	width: 108px;
	margin-right: -10000px;
	left: 452px;
}

#u1321
{
	width: 108px;
	min-height: 34px;
	margin-right: -10000px;
}

#u1322
{
	width: 106px;
	padding-bottom: 15px;
}

#u1322:hover
{
	width: 106px;
	min-height: 0px;
	margin: 0px;
}

#u1322:active
{
	width: 106px;
	min-height: 0px;
	margin: 0px;
}

#u1322.MuseMenuActive
{
	width: 106px;
	min-height: 0px;
	margin: 0px;
}

#u1323-4
{
	width: 106px;
	min-height: 17px;
	margin-right: -10000px;
	top: 7px;
}

#u1322:hover #u1323-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 106px;
	margin: 0px -10000px 0px 0px;
}

#u1322:active #u1323-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 106px;
	margin: 0px -10000px 0px 0px;
}

#u1322.MuseMenuActive #u1323-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 106px;
	margin: 0px -10000px 0px 0px;
}

#pu1457
{
	width: 0.01px;
	margin-left: 59px;
	margin-top: 216px;
}

#u1457
{
	z-index: 44;
	width: 441px;
	border-width: 3px;
	border-style: solid;
	border-color: #4196F1;
	background-color: #FD7303;
	padding-bottom: 3px;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u1458
{
	z-index: 45;
	width: 176px;
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #7EA6F8;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 256px;
}

#u1458_position_content
{
	margin-bottom: -34px;
	padding-top: 7px;
}

#u1461-4
{
	z-index: 47;
	width: 155px;
	min-height: 73px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	margin-left: 16px;
	position: relative;
}

#u1459
{
	z-index: 46;
	width: 200px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	left: -16px;
	margin-top: 35px;
	position: relative;
}

#u1462
{
	z-index: 51;
	width: 240px;
	min-height: 204px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 12px;
}

#u1318
{
	z-index: 4;
	width: 98px;
	margin-right: -10000px;
	left: 670px;
}

body
{
	position: relative;
	min-width: 768px;
}

#page .verticalspacer
{
	clear: both;
}

